SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
MEDIA_URL=/media/

# Flutterwave (Mobile Money)
FLW_PUBLIC_KEY=FLWPUBK_TEST-votre-cle-publique
FLW_SECRET_KEY=FLWSECK_TEST-votre-cle-privee
FLW_SECRET_HASH=votre-webhook-secret
FLW_BASE_URL=https://api.flutterwave.com/v3
FLW_SANDBOX=True
SITE_URL=http://localhost:8000
