SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
MEDIA_URL=/media/

# Monetbil (Mobile Money)
MONET_BILL_API_URL=https://api.monetbil.africa/payment/v1/
MONET_BILL_PAYOUT_API_URL=https://api.monetbil.com/v1/payouts/
MONET_BILL_SERVICE_KEY=votre_service_key
MONET_BILL_SERVICE_SECRET=votre_service_secret
SITE_URL=http://localhost:8000
